/Click.class
/GetCss.class
/Getattribute.class
/Getcsscolor.class
/Gettagname.class
/Gettext.class
/Isselected.class
/getlocation.class
/getsize.class
/grtrect.class
/isEnable.class
/isdisplayed.class
