/ClickAndHold.class
/ClickinAction.class
/CopyPaste.class
/Demowebshop.class
/DoubleClick.class
/DragAndDrop.class
/Movebyoffset.class
/Movetoelement.class
/Movetoelementbyfreeze.class
/RightClick.class
/ScrollToelement.class
/ScrollbyAmount.class
