/Getwindowhandle.class
/Getwindowhandless.class
/Setsize.class
/SwitchtoWndow.class
/close.class
/getPosition.class
/getcurrenturl.class
/getmethod.class
/getpagesouce.class
/getsize.class
/managemaximize.class
/navigate.class
/quit.class
/setposition.class
