/Amazon.class
/ChromiumCommands.class
/DemoQspActions.class
/DemoShopExplicit.class
/DemoappDATADriven.class
/Demoi.class
/Demoshop.class
/DemoshopFB.class
/DemowebshopFBsign.class
/DemowebshopLaptop.class
/DoubleClickQsp.class
/FacebookDDSelectclass.class
/Flipkart.class
/Flipkarttext.class
/Freshersworld.class
/Globalapp.class
/Insta01.class
/Instagram.class
/MyntaActionsclass.class
/Myntrasize.class
/Naukri.class
/PetdiseaseIframe.class
/ShopperStackCWPopup.class
/ShopperStacks.class
/ShoppersSwitchTo.class
/SwitchTomethods.class
/TestCaseassign.class
/TestScript.class
/TocloseallWindows.class
/Vtiger01.class
/demowebrectmethod.class
/demowebshop.class
/myntra.class
/redbus.class
/vtiger.class
